@model MvcNotasEstudiante.Models.Nota

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Carnet" class="control-label"></label>
                <input asp-for="Carnet" class="form-control" />
                <span asp-validation-for="Carnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidosYNombres" class="control-label">Nombres y Apellidos</label>
                <input asp-for="ApellidosYNombres" class="form-control" />
                <span asp-validation-for="ApellidosYNombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IP" class="control-label">Primer Parcial</label>
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IiP" class="control-label">Segundo Parcial</label>
                <input asp-for="IiP" class="form-control" />
                <span asp-validation-for="IiP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sist" class="control-label">Sistematicos</label>
                <input asp-for="Sist" class="form-control" />
                <span asp-validation-for="Sist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proy" class="control-label">Proyecto</label>
                <input asp-for="Proy" class="form-control" />
                <span asp-validation-for="Proy" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="NF" class="control-label"></label>
                <input asp-for="NF" class="form-control" />
                <span asp-validation-for="NF" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
